<!-- Contacts.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/DonutDive.css">
    <title>Contacts - Donut Dive</title>
</head>

<body>
    <header>
        <h1>Welcome to Donut Dive</h1>
        <p>Your go-to place for delicious donuts!</p>
    </header>

    {% if user.is_authenticated %}
    <nav>
        <ul>
            <li><a href="{% url 'Home' %}">Home</a></li>
            <li><a href="{% url 'Contacts' %}">Contacts</a></li>
            <li><a href="{% url 'Calendar' %}">Calendar</a></li>
            <li><a href="{% url 'Logout' %}">Logout</a></li>
            <li><a href="{% url 'Weekly_reward' %}">Rewards</a></li>
            <strong>Hello {{ fname }} </strong>
            <li id="loginStatus"></li>
        </ul>
    </nav>
{% else %}
    <nav>
        <ul>
            <li><a href="{% url 'Home' %}">Home</a></li>
            <li><a href="{% url 'Contacts' %}">Contacts</a></li>
            <li><a href="{% url 'Calendar' %}">Calendar</a></li>
            <li><a href="{% url 'Login' %}">Login</a></li>
            <li><a href="{% url 'Signup' %}">Signup</a></li>
            <li id="loginStatus"></li>
        </ul>
    </nav>
    
{% endif %}

<section id="contact">
        <h2>Contact Us</h2>
        <a href="https://www.facebook.com/people/Donut-Dive/100066606096447/">Facebook</a>
        <a href="https://www.instagram.com/donut_dive/">Instagram</a>
        <p>DonutDive@gmail.com</p>
    </section>
    
